.bold{
	font-weight: bold;
	/*color: #4F5256;*/
}

/* SideBar */

img.icon{
      width: 20px; height: 20px;
}
aside.sidebar-container{
	z-index: 999999;
}
.sidebar-layout-obfuscator{
	z-index: 999998;
}
/* end of SideBar */


/* badges */
	.badge-warning {
	  color: #ffffff;
	  background-color: #ffc107;
	}

	.badge-warning[href]:hover, .badge-warning[href]:focus {
	  color: #ffffff;
	  text-decoration: none;
	  background-color: #d39e00;
	}
/* end of badges */

/* Header */
header.row{
  width: 100%
}

header h4{
  margin-top: 10px;
}

#sidebar-toggler h3{
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
}
#userInfo h4, #userInfo h5 {
  display:inline-block; padding-right: 10px;
}
#userInfo img{
 height: 50px; width: 55px; display:inline-block; border-radius: 50%; padding-right: 5px;
}
.userimg{
	height: 100px;
	width: 110px;
	/*border-radius: 50%;*/
}


header hr{
  margin-top: 10px;
  margin: 0px;
}

/* end of Header */


/* main content */

.main-container .row{
  width: 100%
}

.container-fluid .row{
  margin-right: 0px;
}

/* end of main content */





/*
	Validations
 */

input.editable-input{
	border: none;
	background: transparent;
}
select.editable-input{
	background: transparent;
}

input.editable{
	width: 100%;
	background: transparent;
	padding: 0px 0px 0px 5px;
	-webkit-appearance: text;
}
select.editable{
	width: 100%;
	background: transparent;
	padding: 0px 0px 0px 5px;
	border-radius: .25rem;
}
input[type=date].editable{
	
}

input{
	color: #4F5256;
	/*height: 22px;*/
}
select{
	color: #4F5256;
}

a input:disabled{
	color: #448AFF;
}
a input:disabled:hover{
	text-decoration-line: underline;
	cursor: pointer;
}

a select.editable-input:disabled{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: none;
    /* needed for Firefox: */
    background-color: inherit;
    color: inherit;
}
a select.editable-input:disabled:hover{
	text-decoration-line: underline;
	cursor: pointer;
}

.form-group{
	margin-bottom: 0px;
}

span.error{
	font-size: 0.9rem;
}

input.invalid, select.invalid{
	border: 1px solid red;
}

/*end of validations */
